/* Estilo geral para o corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para o título principal */
h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para as divs de produtos */
div {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Estilo para o container de produtos */
#novo-produto {
    width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para inputs de texto e número */
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para o botão de adicionar produto */
button {
    background-color: #ce3126;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

button:hover {
    background-color: #ca2222;
}

/* Estilo para o botão de remover */
button.remover {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

button.remover:hover {
    background-color: #d32f2f;
}

/* Estilo para a lista de produtos no carrinho */
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
}
